*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main {
  width: 15%;
  border-radius: 40px;
}
.logo img {
  width: 100px;
  margin: 50px;
    /* background-color: #f3f894;  */
  /* border-radius: 10px;   */
}
.logo {
  text-align: center;
}
button {
  border-color: #ffffff;
  box-shadow: none;
  color: white;
}

#m {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
